*{
    padding: 0;
    margin: 0;
}
/* ------googleFonts ---- cssLink------ */
body{
    font-family: 'Lato', sans-serif;
}


/* --------start-header-section---------- */

.header_banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);

}
.header_bannar_img img{
    width: 400px;
    height: auto;
}

.header_bannar_inner h2 {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 13px;
}
.header_bannar_inner p {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;
}

button {
    border: none;
    text-transform: capitalize;
    background: #E55473;
    padding: 14px;
    color: white;
    border-radius: 8px;
}
/* --------End-header-section---------- */


/* start-Featured-section */
.All_flowers{
    padding:100px 200px;

}

.flower_content h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}
.flower_content p {
    text-align: center;
    line-height: 22px;
    margin-bottom: 10px;
}
.flower-mainDiv {
    margin-top: 79px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.lili-flower {
    background-color: #f2dee7;
    width: 240px;
    height: 300px;
    text-align: center;
    border-radius: 121px 121px   0px 0px;
}
.lili-flower img {
    width: 109px;
    margin-top: 58px;
    height: 242px;
}
.inner-div h4 {
    font-size: 12px;
    border-bottom: 2px solid;
}
.pink_flower{
    background: rgba(5, 151, 160, 0.15);
    width: 240px;
    height: 300px;
    text-align: center;
    border-radius: 121px 121px   0px 0px;
}
.pink_flower img{
    width: 109px;
    margin-top: 58px;
    height: 242px;
}
.yello_flower{
    background: rgba(71, 125, 17, 0.15);
    width: 240px;
    height: 300px;
    text-align: center;
    border-radius: 121px 121px   0px 0px;
}
.yello_flower img{
    width: 109px;
    margin-top: 58px;
    height: 242px;

}

/* End-Featured-section */