*{
    padding: 0;
    margin: 0;
}
/* ------googleFonts ---- cssLink------ */
body{
    font-family: 'Lato', sans-serif;
}

    /* ------nav_style------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
  }
  
  nav ul {
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    list-style: none;
    margin-right: 50px;
  }
  
  nav ul li a {
    text-decoration: none;
  }
  
  .nav_title {
    color: #181818;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
  }
  
  nav span{
    color: #E55473;
  }

/* --------start-header-section---------- */

.header_banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);

}
.header_bannar_img img{
    width: 400px;
    height: auto;
}

.header_bannar_inner h2 {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 13px;
}
.header_bannar_inner p {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;
}

button {
    border: none;
    text-transform: capitalize;
    background: #E55473;
    padding: 14px;
    color: white;
    border-radius: 8px;
}
/* --------End-header-section---------- */


/* start-Featured-section */
.All_flowers{
    padding:100px 200px;

}

.flower_content h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}
.flower_content p {
    text-align: center;
    line-height: 22px;
    margin-bottom: 10px;
}
.flower-mainDiv {
    margin-top: 79px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.lili-flower {
    background-color: #f2dee7;
    width: 240px;
    height: 300px;
    text-align: center;
    border-radius: 121px 121px   0px 0px;
}
.lili-flower img {
    width: 109px;
    margin-top: 58px;
    height: 242px;
}
.inner-div h4 {
    font-size: 12px;
    border-bottom: 2px solid;
}
.pink_flower{
    background: rgba(5, 151, 160, 0.15);
    width: 240px;
    height: 300px;
    text-align: center;
    border-radius: 121px 121px   0px 0px;
}
.pink_flower img{
    width: 109px;
    margin-top: 58px;
    height: 242px;
}
.yello_flower{
    background: rgba(71, 125, 17, 0.15);
    width: 240px;
    height: 300px;
    text-align: center;
    border-radius: 121px 121px   0px 0px;
}
.yello_flower img{
    width: 109px;
    margin-top: 58px;
    height: 242px;

}

/* End-Featured-section-CSS */

/* start-services-section-CSS */

.main_service {
    display: flex;
    padding: 10px 200px;
    justify-content: space-around;
    background-color: #2727270D;
    padding: 80px 0px;
    width: 850px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 59px;
}
section.services {
    padding: 40px 149px;
}

.service_item small {
    position: relative;
    top: 18px;
    font-size: 9px;
}
.service_item img{
    width: 40px;

}
.service_item small {
    position: relative;
    top: 25px;
    left: -120px;
    font-size: 7px;
}
.ser-tile{
    display: flex;
    padding: 0px 200px;
}
/* End-services-section-CSS */